body {
  font-family: Whitney,"Trebuchet MS",Arial,sans-serif;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
}
.scene {
  width: 360px;
  height: 300px;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  background: #E9F3DA;
  color: #74AD2E;
  font-weight: bold;
  font-size: 20px;
  line-height: 260px;
  text-align: center;
}

.card__face--back {
  background: #74AD2E;
  color: #E9F3DA;
  transform: rotateY(180deg);
  text-align: -webkit-left;
}

.content-text {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15%;
  line-height: 1.5em;
}

.btn-show {
  display: block;
}
